*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
}

.main_container{
    position: relative;
}

/*Navigation bar */
.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.navbar .logo a{
    float:left;
    font-size: 35px;
    height: 50px;
}


.navbar .navbar_items ul{
    display: flex;
}

.navbar .navbar_items ul li{
    margin: 0 10px;
    color:#000000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

/* Change the link color on hover */
.navbar .navbar_items ul li a:hover{
    background-color: rgb(150, 147, 10);
    color: white;
}

/*Banner Image */
.banner_image{
    background-image: linear-gradient(100deg, #ffffff 60%, #ffff00 60%);
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

banner_content{
    text-align: center;
    color:#000000;
    float: center;
}

.banner_content h1{
    line-height: 40px;
    margin-bottom: 15px;
}
.banner_content p{
    line-height: 20px;
    margin-bottom: 30px;
    font-size: 20px;
}

.banner_content img{
    width: 300px;
}