*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
}

.main_container{
    position: relative;
}

/*Navigation bar */
.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.navbar .logo a{
    float:left;
    font-size: 35px;
    height: 50px;
}


.navbar .navbar_items ul{
    display: flex;
}

.navbar .navbar_items ul li{
    margin: 0 10px;
    color:#000000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

/* Change the link color on hover */
.navbar .navbar_items ul li a:hover{
    background-color: rgb(150, 147, 10);
    color: white;
}

p{
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

/*Banner Image */
.banner_image{
    background-image: linear-gradient(100deg, #ffffff 60%, #ffff00 60%);
    
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

banner_content{
    text-align: center;
    color:#000000;
    float: center;
}

.banner_content h1{
    line-height: 40px;
    margin-bottom: 15px;
}
.banner_content p{
    line-height: 20px;
    margin-bottom: 30px;
    font-size: 20px;
}

.banner_content img{
    width: 300px;
}

*Order Now Button*/
.btn{
    outline: none;
    display: block;
    border: 0;
    font-size: 20px;
    line-height: 1;
    padding: 16px 30px;
    border-radius: 30px;
    background-color: #e6b800;
    color:#ffffff;
    cursor: pointer;
    transition: all 0.2s linear;
}

.btn:hover, .btn:focus{
    background:#d04949;
}

.btn:active{
    background: #651a1a;
}

/*Services Section*/
.container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 250px 250px 250px; /*Make the grid smaller than the container*/
    grid-template-rows: 8px 300px;
    grid-gap: 10px;
    background-color: #e6ffe6;
    padding: 10px;
  }
  
  .container .grid-container {
    background-color: #e6ffe6;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
    height: 220px;
    border-style: groove;
    box-sizing: border-box;  
    width: 150%; 
  }

  .container .mid-container {
    background-color: #e6ffe6;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
    height: 280px;
    border-style: groove;
    box-sizing: border-box;  
    width: 150%;
  }

  .container .grid-container .mid-container >h5{
      color:#da7171;
  }

  /*Menu*/

.menu{
    padding: 5% 10%;
    text-align: center;
}

h1.title{
    margin-bottom: 20px;
    text-decoration: underline;
}

.menu_container {
    display: grid;
    grid-template-columns: auto auto 400px;
    grid-gap: 10px;
    background-color: #ffffff;
    padding: 10px;
  }
  
  .menu_container .menu_item {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    height: 450px;
    border-style: groove;
    box-sizing: border-box;  
    width: 100%; 
    border-radius: 10px;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    box-shadow: 10px -10px 5px #CCC;
    }

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-top: 30px;
  }
